/* estilos resposivos de MainHome*/
@media (max-width: 640px) {
  .main-home > div[style] {
    padding: 0.3rem !important;
    border-radius: 0.5rem !important;
  }
  .main-home button[style],
  .main-home a[style] {
    font-size: 0.9rem !important;
    height: 2rem !important;
    padding: 1.2rem !important;   
  }
  .main-home {
    max-width: 70vw !important;
  }
}

@media (max-width: 320px) {
  .main-home > div[style] {
    border-radius: 0.5rem !important;
    margin-right: 30px;
  }
  .main-home button[style],
  .main-home a[style] {
    font-size: 0.6rem !important;
    margin-right: 50px;
    max-width: 50px;
  }
  .main-home {
    max-width: 50px !important;
  }
}


/*Estilos para ImageContainer*/

@media (max-width: 900px) {
  .image-container {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100vw !important;
  }
  .image-container__img-wrapper {
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
    justify-content: center !important;
  }
  .image-container__text {
    text-align: center !important;
    margin-top: 0.5rem !important;
    margin-right: 0 !important;
  }
}

/*Estilos para ImageContainer en pantallas grandes*/
@media (min-width: 768px) {
    .image-container {
        flex-direction: row;
        align-items: center;
        width: 100vw;
    }
    .image-container__text {
        text-align: center;
        margin-top: 0;
    }
    .image-container__img-wrapper {
        justify-content: flex-start;
        margin-left: 10rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .image-container__img {
        max-width: 400px;
    }
    .image-container__name {
        font-size: 5rem;
    }
    .image-container__role {
        font-size: 4rem;
    }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 480px) {
    .image-container__img {
        max-width: 220px;
        justify-content: center;
    }
    .image-container__name {
        font-size: 2.3rem;
        margin-left: 80px;
    }
    .image-container__role {
        font-size: 1.3rem;
    }
}


@media (max-width:320px) {
    .image-container__img {
        max-width: 150px;
        margin-left: 30px;
    }
    .image-container__text {
        text-align: center;
    }
    .image-container__name {
        font-size: 1.5rem !important;
        margin-left: -10px;
    }
    .image-container__role {
        font-size: 1.5rem !important;
    }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 480px) {
    .image-container__img {
        max-width: 220px;
        justify-content: center;
    }
    .image-container__name {
        font-size: 2.3rem;
    }
    .image-container__role {
        font-size: 1.5rem;
    }
}

@media (max-width:320px) {
    .image-container__img {
        max-width: 180px;
        margin-left: 30px;
    }
    .image-container__text {
        text-align: center;
        margin-top: 0;
        margin-right: 30px;
    }
    .image-container__name {
        font-size: 1.7rem;
    }
    .image-container__role {
        font-size: 1.4rem;
    }
}

/* Estilos para footer */
@media (max-width: 600px) {
    footer {
        display: flex !important;
        flex-direction: row !important;
    }
  footer a {
    display: flex !important;
    font-size: 1rem !important;
  }

  footer img {
    width: 28px !important;
    height: 28px !important;
  }
}
@media (max-width: 320px) {
  footer {
    flex-direction: row !important;
    gap: 0.2rem !important;
    margin-left: -30px !important;
  }
  footer a {
    font-size: 0.7rem !important;
    gap: 0.1rem !important;
  }
  footer img {
    width: 18px !important;
    height: 18px !important;
  }
}