/*Estilos para TecnologyResponsive*/
@media (max-width: 900px) {
  .tecnology-gen1 {
    width: 80vw !important;
    padding: 8px !important;
    border-radius: 12px !important; /* Mantén el border-radius en tablet */
  }
  .tecnology-h1 {
    font-size: 1.3rem !important;
    padding-left: 10px !important;
  }
  .tecnology-h2 {
    width: 95vw !important;
    font-size: 1.1rem !important;
    padding-left: 10px !important;
  }
  .tecnology-h3 {
    width: 95vw !important;
    font-size: 0.4rem !important;
    padding-left: 10px !important;
  }
  .tecnology-images-row {
    gap: 10px !important;
    padding: 8px !important;
    margin-left: 0 !important;
    border-left: 2px solid #A9B5DF !important;
    border-top: none !important;
  }
}

@media (max-width: 600px) {
  .tecnology-gen1 {
    width: 90vw !important;
    padding: 2vw !important;
    border-radius: 20px !important; /* Solo en móvil */
  }
  .tecnology-h1 {
    width: 70vw !important;
    font-size: 1.2rem !important;
    padding-left: 5px !important;
  }
  .tecnology-h2 {
    width: 70vw !important;
    font-size: 0.9rem !important;
    padding-left: 5px !important;
  }
  .tecnology-h3 {
    width: 75vw !important;
    font-size: 0.7rem !important;
    padding-left: 5px !important;
  }
  .tecnology-images-row {
    gap: 6px !important;
    padding: 4px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
  }
  .tecnology-img {
    width: 20px !important;
    height: 20px !important;
  }
}

@media (max-width: 320px) {
  .tecnology-gen1 {
    width: 75vw !important;
    padding: 4vw !important;
    border-radius: 20px !important; /* Solo en móvil */
    margin-left: 30px;
  }
  .tecnology-h1 {
    width: 60vw !important;
    font-size: 1.2rem !important;
    padding-left: 5px !important;
  }
}

/*Estilos para logros*/
@media (max-width: 900px) {
  .logros-container {
    width: 80vw !important;
    padding: 10px !important;
  }
  .logros-title {
    font-size: 1.3rem !important;
    padding-left: 10px !important;
  }
  .logros-subtitle {
    font-size: 1rem !important;
    width: 60vw !important;
    padding-left: 10px !important;
    margin-left: 0.5vw !important;
  }
  .logros-images {
    flex-direction: column !important;
    margin-left: 0 !important;
    align-items: flex-start !important;
  }
  .logros-img {
    width: 80vw !important;
    height: auto !important;
    max-width: 200px !important;
  }
}

/* Para móviles aún más pequeños */
@media (max-width: 600px) {
  .logros-container {
    width: 90vw !important;
    padding: 20px !important;
    }
  .logros-title {
    font-size: 1.3rem !important;
    width: 70vw !important;
    padding-left: 10px !important;
    margin: 2vw;
  }
  .logros-subtitle {
    font-size: 0.9rem !important;
    width: 80vw !important;
    padding-left: 4px !important;
    margin-left: 10px !important;
    margin:5px !important;
  }
  .logros-images {
    margin-left: 10px !important;
  }
  .logros-img {
    max-width: 100px !important;
  }
}

@media (max-width: 320px) {
  .logros-container {
      width: 75vw !important;
    padding: 4vw !important;
    border-radius: 20px !important; /* Solo en móvil */
    margin-left: 30px;
  }
   .logros-title  {
    width: 60vw !important;
    font-size: 1.2rem !important;
    padding-left: 5px !important;
  }
   .logros-img {
    max-width: 90px !important;
  }
}