/*Estilos menu*/
@media (max-width: 600px) {
  .responsiveImg {
    width: 100px;
  }
}
@media (max-width: 600px) {
  .responsiveBtn {
    padding: 0 0.4vw !important;
    margin: 3vw !important;
    font-size: 0.9rem !important;
    height: 1.6rem !important;
  }
}

.divPadre {
  display: flex;
  flex-direction: column;
  background: #7886C7;
  border-radius: 25px;
  width: 75vw;
  padding: 30px;
  padding-bottom: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
}
.nav {
  margin-left: 2vw;
  margin-top: 2vw;
}
.h1todos {
  color: #FFFFFF;
  font-size: 2rem;
  margin: 0;
  border-radius: 20px;
  padding-left: 20px;
  background: #A9B5DF;
  width: 35vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center; /* Alinea verticalmente */
  justify-content: space-between;
}
 .introduccion {
    display: flex;
    flex-direction: row;
    width: 60vw;
    text-align: center;
    margin-left: 5vw;
    font-size: 1rem;
  }
  .frase {
    padding: 20px;
  }
  .imgintro {
    align-self: flex-start;
    width: 100px;
    height: auto;
    max-height: 90px;
    object-fit: contain;
  }  
  .plus {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
/* Responsivo para pantallas pequeñas */
@media (max-width: 900px) {
  .divPadre {
    width: auto;
    padding: 12px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .h1todos {
    width: 50vw;
    font-size: 1.5rem;
    padding: 10px;
  }
 .introduccion {
    width: auto;
    margin-left: auto;
    font-size: 1rem;
  }
  .imgintro {
    width: 80px;
    height: auto;
    max-height: 70px;
  }
 
}

@media (max-width: 600px) {
  .divPadre {
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 8px;
  }
  .h1todos {
    width: 60vw;
    font-size: 1rem;
    padding: 10px;
  }
  .introduccion {
    width: auto;
    margin-left: auto;
    font-size: 0.8rem;
  }
  .imgintro {
    width: 50px;
    height: auto;
    max-height: 50px;
  }
}

/*Tarejtas*/
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  width: 100%;
}

.tarjeta {
  border-radius: 20px;
  border: solid 1px #A9B5DF;
  background: #A9B5DF;
  padding: 16px;
  width: 32%;
  min-width: 250px;
  box-sizing: border-box;
  transition: box-shadow 0.2s;
  aspect-ratio: 1 / 1;
}

/* Responsivo para tablets */
@media (max-width: 900px) {
  .tarjeta {
    width: 80%;
    min-width: 180px;
  }
}

/* Responsivo para móviles */
@media (max-width: 600px) {
  .tarjeta {
    width: 80%;
    min-width: 120px;
    margin: 8px auto;    
    padding: 10px;
  }
}
